{{ define "about" }}
<amp-sidebar id="sidebar-left"
  layout="nodisplay"
  side="left">
  <amp-img class="amp-close-image"
    src="/assets/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar-left.close"
    role="button"
    tabindex="0"></amp-img>
  <nav toolbar="(min-width: 784px)"
    toolbar-target="target-element-left"
    layout="nodisplay">
  </nav>
  <ul>
    <li><a href="/"> Home</a></li>
    <li><a href="/about"> About</a></li>
    <li><a href="/media"> Media</a></li>
    <li><a href="/book"> Book a Tour</a></li>
  </ul></amp-sidebar>
<button id="menu-button" class="menu-btn"
  on="tap:sidebar-left.toggle"
  class="ampstart-btn caps m2">
  <amp-img src="/assets/ic_menu_purple_24dp_1x.png"
    width="50"
    height="50"
    alt="menu"></amp-img></button>
<div id="target-element-left"></div>
<div id="title-row">
  <p class="luckiest-guy-title">About Lil' Alphonse</p>
</div>
<div class="container">
  <div class="row">
    <div class="six columns">
      <p class="varela-round-body">"Lil" Alphonse Granier is not your average
        snorkeling guide. Since childhood, he has been making friends with
        the sea life around Ambergris Caye, Belize. <br /><br />
        No, really, they're friends!</p>
    </div>
    <div class="four columns">
      <amp-img height="100px" width="100px"
        src="/assets/lil-alphonse-with-friend.jpg"
        alt="Lil' Alphonse and his friend"
        layout="responsive"></amp-img>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <amp-img height="100px" width="100px"
        src="/assets/lil-alphonse-lil-adolfo.jpg"
        alt="Lil' Alphonse and Lil' Adolfo"
        layout="responsive"></amp-img>
    </div>
    <div class="six columns">
      <p class="varela-round-body">Join Captain Alphonse and his first mate,
      Adolfo, and explore Ambergris Caye's underwater sanctuaries. No equipment
      or experience required! They will fit you with equipment on the boat and
      teach you to keep your mask crystal-clear. Flotation devices are also
      available.</p>
    </div>
  </div>
</div>
{{end}}
