{{ define "content" }}
<div id="top-row" class="header-text">
  <amp-font layout="nodisplay"
    font-family="Luckiest Guy"
    timeout="2000">
  </amp-font>
  <h1 class="luckiest-guy">Lil'</h1>
  <h2 class="luckiest-guy">Alphonse</h1>
</div>
<div class="container">
  <div class="row">
    <div class="twelve columns">

    </div>
  </div>
  <div class="scrollToTopButton">
      <amp-animation id="showAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "1",
                "visibility": "visible"
              }]
            }]
          }
        </script>
      </amp-animation>
      <amp-animation id="hideAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "0",
                "visibility": "hidden"
              }]
            }]
          }
        </script>
      </amp-animation>
      <div id="marker">
        <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
          layout="nodisplay">
        </amp-position-observer>
      </div>
      <button id="scrollToTopButton"
        on="tap:top-row.scrollTo(duration=200)"
        class="scrollToTop">⌃</button>
    </div>
  </div>
</div>
<div class="footer-bg">
  <h1 class="footer-text">MVX GREEN<h1>
</div>
{{end}}
