{{ define "content" }}
<div id="top-row">
  <amp-font layout="nodisplay"
    font-family="Luckiest Guy"
    timeout="2000">
  </amp-font>
  <p class="luckiest-guy-title">Lil'<br />Alphonse</p>
  <p class="luckiest-guy-sub">THE #1 Snorkeling Guide<br />
    in San Pedro, Ambergris Caye, Belize</p>
</div>
<div class="container">
  <div class="youtube-container">
    <amp-youtube width="400"
      height="300"
      layout="responsive"
      data-videoid="Q6MSyLVu-8g"
      autoplay>
    </amp-youtube>
    <amp-youtube width="400"
      height="300"
      layout="responsive"
      data-videoid="vEj3c_GnFLQ"
      autoplay>
    </amp-youtube>
  </div>
  <div class="scrollToTopButton">
      <amp-animation id="showAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "1",
                "visibility": "visible"
              }]
            }]
          }
        </script>
      </amp-animation>
      <amp-animation id="hideAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "0",
                "visibility": "hidden"
              }]
            }]
          }
        </script>
      </amp-animation>
      <div id="marker">
        <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
          layout="nodisplay">
        </amp-position-observer>
      </div>
      <button id="scrollToTopButton"
        on="tap:top-row.scrollTo(duration=200)"
        class="scrollToTop">⌃</button>
    </div>
  </div>
</div>
<div class="footer-bg">
  <h1 class="footer-text">MVX GREEN<h1>
</div>
{{end}}
