{{ define "content" }}
<amp-sidebar id="sidebar-right"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
    src="/assets/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar-right.close"
    role="button"
    tabindex="0"></amp-img>
  <nav toolbar="(min-width: 784px)"
    toolbar-target="target-element-right"
    layout="nodisplay">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li> Nav item 1</li>
    </ul>
  </nav>
  <ul>
    <li>
      <amp-fit-text width="220"
        height="20"
        layout="responsive"
        max-font-size="24">
        Nav item 2 - &lt;amp-fit-text&gt;
      </amp-fit-text>
    </li>
    <li>
      <amp-fit-text width="220"
        height="20"
        layout="responsive"
        max-font-size="24">
        Nav item 3 - &lt;amp-fit-text&gt; longer text
      </amp-fit-text>
    </li>
    <li> Nav item 4 - Image
      <amp-img class="amp-sidebar-image"
        src="/assets/favicon.ico"
        width="20"
        height="20"
        alt="an image"></amp-img>
    </li>
    <li> Nav item 5</li>
    <li> Nav item 6</li>
  </ul>
</amp-sidebar>
<button class="menu-btn"
  on="tap:sidebar-right.toggle"
  class="ampstart-btn caps m2">
  <amp-img src="/assets/ic_menu_purple_24dp_1x.png"
    width="40"
    height="40"
    alt="menu"></amp-img>
</button>
<div id="target-element-right">
</div>
<div id="top-row">
  <p class="luckiest-guy-title">Lil'<br />Alphonse</p>
  <p class="luckiest-guy-sub">THE #1 Snorkeling Guide<br />
    in San Pedro, Ambergris Caye, Belize</p>
</div>
<div class="container">
  <div class="row">
    <div class="youtube-column">
      <amp-youtube width="400"
        height="300"
        layout="responsive"
        data-videoid="hBQ9W_Q6R4g"
        autoplay>
      </amp-youtube>
    </div>
    <div class="text-column">
      <p class="luckiest-guy-title2">Hol Chan</p>
      <p class="luckiest-guy-body">
        Hol Chan is located 4 miles southeast of San Pedro. It's like diving in your
        own aquarium. The ocean floor has a maximum depth of 30 feet, so both
        divers and snorkelers have the opportunity to swim in waters teeming
        with colorful tropical fish of all sizes and types along with beautiful
        coral formations. Divers can also enjoy the deeper waters outside
        the channel.</p>
    </div>
  </div>
  <div class="row">
    <div class="youtube-column">
      <amp-youtube width="400"
        height="300"
        layout="responsive"
        data-videoid="Q6MSyLVu-8g"
        autoplay>
      </amp-youtube>
    </div>
    <div class="text-column">
      <p class="luckiest-guy-title2">Shark Ray Alley</p>
      <p class="luckiest-guy-body">
        Shark Ray Alley is a must and it’s only a few minutes by boat from San Pedro.
        Hundreds of sting rays of all sizes congregate here accompanied by families of
        nurse sharks. With a depth of only 8 feet, the Sand Bar offers great photo
        opportunities.</p>
    </div>
  </div>
  <div class="scrollToTopButton">
      <amp-animation id="showAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "1",
                "visibility": "visible"
              }]
            }]
          }
        </script>
      </amp-animation>
      <amp-animation id="hideAnim"
        layout="nodisplay">
        <script type="application/json">
          {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
              "selector": "#scrollToTopButton",
              "keyframes": [{
                "opacity": "0",
                "visibility": "hidden"
              }]
            }]
          }
        </script>
      </amp-animation>
      <div id="marker">
        <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
          layout="nodisplay">
        </amp-position-observer>
      </div>
      <button id="scrollToTopButton"
        on="tap:top-row.scrollTo(duration=200)"
        class="scrollToTop">⌃</button>
    </div>
  </div>
</div>
<h1 class="mvxgreen-footer">MVX GREEN<h1>
{{end}}
