{{ define "media" }}
<amp-sidebar id="sidebar-left"
  layout="nodisplay"
  side="left">
  <amp-img class="amp-close-image"
    src="/assets/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar-left.close"
    role="button"
    tabindex="0"></amp-img>
  <nav toolbar="(min-width: 784px)"
    toolbar-target="target-element-left"
    layout="nodisplay">
  </nav>
  <ul>
    <li><a href="/"> Home</a></li>
    <li><a href="/about"> About</a></li>
    <li><a href="/media"> Media</a></li>
    <li><a href="/book"> Book a Tour</a></li>
  </ul></amp-sidebar>
<button id="menu-button" class="menu-btn"
  on="tap:sidebar-left.toggle"
  class="ampstart-btn caps m2">
  <amp-img src="/assets/ic_menu_purple_24dp_1x.png"
    width="50"
    height="50"
    alt="menu"></amp-img></button>
<div id="target-element-left"></div>
<div id="title-row">
  <p class="luckiest-guy-title">Lil' Alphonse Media</p>
</div>
<div class="container">
  <div class="row">
    <div class="six columns">
      <amp-img src="/assets/lil-alphonse-logo.png"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
    </div>
    <div class="six columns">
      <amp-carousel id="carousel-with-carousel-preview"
      width="400"
      height="300"
      layout="responsive"
      type="slides">
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-p/0e/7c/10/4b/alphonso-took-this-photo.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-s/01/25/da/39/san-pedro.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/9d/b7/c8/photo1jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-p/11/8e/53/01/20171208-183409-largejpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/81/da/b4/photo4jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/81/da/b2/photo3jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/81/da/b1/photo2jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/81/da/af/photo1jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/11/81/da/ad/photo0jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/7e/3b/b8/wedding-party.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/6b/96/b3/alfonse-and-his-friends.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/6b/96/b2/alfonse-with-a-nurse.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/6b/96/a9/alfonse-swimming-with.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/6b/96/a6/shark-ray-alley.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/10/4a/7f/1c/photo0jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/10/1d/fe/ac/photo2jpg.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-w/0f/d9/bd/fa/shark-ray-alley.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
      <amp-img src="https://media-cdn.tripadvisor.com/media/photo-o/0e/d8/68/10/eagle-ray-at-hol-chan.jpg"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
    </amp-carousel>
    </div>
  </div>
  <div class="footer">
    <p class="varela-round-footer">See more at...</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g291962-d1382417-Reviews-Lil_Alphonse_Snorkeling-San_Pedro_Ambergris_Caye_Belize_Cayes.html">
      <amp-img src="/assets/tripadvisor.png"
        height="80"
        width="550"
        alt="tripadvisor banner">
      </amp-img>
    </a>
  </div>
</div>
{{end}}
