{{ define "styles" }}
<style amp-custom>
  /* Custom fonts */
  @font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Luckiest+Guy") format('truetype');
  }

  .luckiest-guy {
    font-family: 'Luckiest Guy', serif, sans-serif;
  }

  /* Custom styles */

  #top-row {
    margin-bottom: 80px;
    text-align: center;
  }

  .row {
    margin:auto;
    text-align: center;
  }

  html {
    background-image: url("assets/underwater-background.jpg");
  }

  .container {
    height: 1000px;
    width: 100%;
  }

  .scrollToTop {
    color: #FFFFFF;
    font-size: 1.4em;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    background: #255818;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
  }

  #marker {
    position: absolute;
    top: 100px;
    width: 0px;
    height: 0px;
  }

  button {
    padding-left: 5px;
    padding-right: 5px;
  }

  .twitter-icon {
    margin-top: 23px;
    text-align: right;
  }

  .nav-logo.nav-logo-footer {
    text-align: left;
    font-size: 16px;
    font-family: fantasy;
    color: #255818;
  }

  .header-text {
    text-align: center;
  }

  h1 {
    color: #581845;
    font-size: 40px;
  }

  h2 {
    color: #255818;
    font-size: 35px;
  }

  .footer-bg {
    background-color: #581845;
    padding-bottom: 30px;
    position: fixed;
    text-align: left;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-text {
    color: #255818;
    text-align: left;
    font-family: Luckiest Guy;
    font-size: 20px;
    margin-left: 12px;
    margin-top:12px;
  }

</style>
{{ end }}
